<div class="main">
  <div class="instructions-panel">
    <app-instruction-panel></app-instruction-panel>
  </div>
  <div class="centered-content">
    <div class="hexContainer">
      <canvas
        id ="hexCanvas"
        #hexCanvas
        (click)="onHexClick($event)"
        width="685"
        height="645"
      ></canvas>
      <div class="camera-container">
        <button class="camera-btn" (click)="captureCanvas()">
          <div class="camera-top"></div>
          <div class="lens"></div></button>
      </div>
    </div>
    <div class="controls">
      <button class="retro-btn" (click)="findPath_Dijkstra()" [disabled]="disabledFlag()">Dijkstra's Algo</button>
      <button class="retro-btn" (click)="findPath_ManhattanDist()" [disabled]="disabledFlag()">A* Manhattan</button>
      <button class="retro-btn" (click)="findPath_ManhattanDist_Fast()" [disabled]="disabledFlag()">A* Manhattan + No Traffic</button>
      <button class="retro-btn" (click)="findPath_Chebyshev()" [disabled]="disabledFlag()">A* Chebyshev</button>
      <button class="retro-btn" (click)="resetCanvasKeepTraffic()">Reset</button>
      <label class="toggle-vert" title="Reset start/destination">
        <input type="checkbox" [(ngModel)]="resetSelections" />
        <span class="slider-vert"></span>
      </label>
      <div class="captures" *ngIf="captures.length" (mouseleave)="toggleThumbnails(false)">
        <div class="gallery-icon"(mouseenter)="toggleThumbnails(true)"></div>
        <div class="thumbnail-dock">
          <div class="thumbnail" *ngFor="let cap of captures" (click)="openPreview(cap)">
            <img  [src]="cap" alt="thumbnail"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-panel">
    <div class="algo-description-panel" *ngIf="algorithmDescription">
      <div class="retro-box" [innerHTML]="algorithmDescription"></div>
    </div>
    <div class="efforts-distance" *ngIf="efforts || distance">
      <div class="retro-box" *ngIf="efforts">Efforts : {{efforts}} units</div>
      <div class="retro-box" *ngIf="distance">Distance : {{distance}} units</div>
    </div>
  </div>
  <div class="preview-overlay" *ngIf="selectedCapture" (click)="closePreview()">
    <div class="preview" (click)="$event.stopPropagation()">
      <img [src]="selectedCapture!" />
      <button class="clone-btn" (click)="cloneSelected()">Clone</button>
      <button class="close-btn" (click)="closePreview()">×</button>
    </div>
  </div>
</div>
