<div class="main">
  <div class="instructions-panel">
    <app-instruction-panel></app-instruction-panel>
  </div>
  <div class="centered-content">
    <div class="hexContainer">
      <canvas
        id ="hexCanvas"
        #hexCanvas
        (click)="onHexClick($event)"
        width="685"
        height="645"
      ></canvas>
      <div class="camera-container">
        <button class="camera-btn" (click)="captureCanvas()">
          <div class="camera-top"></div>
          <div class="lens"></div></button>
      </div>
    </div>
    <div class="controls">
      <button class="retro-btn" (click)="findPath_Dijkstra()" [disabled]="disabledFlag()">Dijkstra's Algo</button>
      <button class="retro-btn" (click)="findPath_ManhattanDist()" [disabled]="disabledFlag()">A* Manhattan</button>
      <button class="retro-btn" (click)="findPath_ManhattanDist_Fast()" [disabled]="disabledFlag()">A* Manhattan + No Traffic</button>
      <button class="retro-btn" (click)="findPath_Chebyshev()" [disabled]="disabledFlag()">A* Chebyshev</button>
      <button class="retro-btn" (click)="resetCanvasKeepTraffic()">Reset</button>
      <label class="toggle-vert" title="Reset start/destination">
        <input type="checkbox" [(ngModel)]="resetSelections" />
        <span class="slider-vert"></span>
      </label>
      <div *ngIf="captures.length">
        <button class="gallery-btn" aria-label="Open gallery" (click)="openPreview(true)">
          <span class="g-img" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="right-panel">
    <div class="algo-description-panel" *ngIf="algorithmDescription">
      <div class="retro-box" [innerHTML]="algorithmDescription"></div>
    </div>
    <div class="efforts-distance" *ngIf="efforts || distance">
      <div class="retro-box" *ngIf="efforts">Efforts : {{efforts}} units</div>
      <div class="retro-box" *ngIf="distance">Distance : {{distance}} units</div>
    </div>
  </div>
  <div class="preview-overlay" *ngIf="showPreviews" (click)="closePreview()">
    <div class="preview" (click)="$event.stopPropagation()">
      <div class="preview-main">
        <img [src]="selectedCapture!"/>
      </div>
      <div class="preview-strip" *ngIf="captures.length">
        <div class="preview-strip-inner">
          <img
            *ngFor="let cap of captures"
            [src]="cap"
            [class.active]="cap === selectedCapture"
            (click)="selectedCapture = cap; $event.stopPropagation()"
            alt="capture"
          />
        </div>
      </div>
      <button class="close-btn" (click)="closePreview()">X</button>
    </div>
  </div>
</div>
